.wrapper{
    margin: auto auto;
    width: 960px;
    height: 200px;
    display: flex;
    flex-flow: column wrap;
}

h1{
    margin: auto auto;
}

#myform{
    margin: auto auto;
    padding: 20px 20px;
    width: 800px;
    display: flex;
    justify-content: space-around;
}

#flexy{
    margin: auto auto;
    padding: 10px 0px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

input[type=checkbox]{
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

table{
    margin: auto auto;
    width: 100%;
    height: auto;
    background-color: burlywood;
    text-align: center;
}

#foot{
    margin: auto auto;
    padding: 0 0;
    position: fixed;
    bottom: 0;
    right: 666px;
    min-width: 350px;
    background-color: burlywood;
}